body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
    font-family: 'Zen Antique', serif;
}

.navbar {
    font-family: 'Zen Antique', serif;
    background-color: #f2ede9;
    overflow: hidden;
    list-style-type: none;
}
  
.navbar a {
    float: right;
    color: #4a4a4a;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Zen Antique', serif;
}
  
.navbar a:hover {
    background-color: #8b7c6c;
    color: white;
}
  
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

h1 {
    font-size: 40px;
    color: ivory;
    text-decoration: underline;   
	text-decoration-color: ivory;
}

.p-title {
    font-size: 20px;
}

#name {
    float: left;
    color: #4a4a4a;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
}

.avatar {
    vertical-align: middle;
    width: 25%;
    height: auto;
    border-radius: 50%;
}

#thirsty:hover {
    opacity: 1.0;
}

#thirsty {
    width:90%;
    height: auto;
    border: solid ivory 10px;
    opacity: 0.5;
    min-width: 600px;
}

#potluck:hover {
    opacity: 1.0;
}

#potluck {
    width:90%;
    height: auto;
    border: solid ivory 10px;
    opacity: 0.5;
    min-width: 600px;
}

#weather-dash:hover {
    opacity: 1.0;
}

#weather-dash {
    width:90%;
    height: auto;
    border: solid ivory 10px;
    opacity: 0.5;
    min-width: 600px;
}






